.DS_Store
*.pyc
__pycache__
dist
build
docs/build
docs/source/reference/services
tests/cover
tests/.coverage
tests/.workspace
*.egg-info
.cache
_mailinglist

# Test state / virtualenvs
.tox
.coverage
coverage.xml
nosetests.xml

# Common virtualenv names
venv
venv2
venv3

# IDEs
.idea/
.ropeproject
.project
.pydevproject
.settings/
