# compiled files
__pycache__
*.py[cod]

# packaging
dist
build
*.egg-info

# docs
docs/_build

# unit tests
.tox
.coverage
.cache
tests/cover
tests/.coverage
tests/.workspace

# pycharm project settings
.idea/

# visual studio code project settings
.vscode/

# eclipse project settings
.project
.pydevproject