include CHANGES LICENSE AUTHORS README.md
include carbon/files/schema.yml
recursive-include carbon/files/orchestrate/ansible/ *.yml *.py *.j2
exclude setup.cfg
prune docs/_build
prune docs/.ropeproject
prune docs/.gitignore
prune tests/.cache
prune extensions
prune .ropeproject
prune .git
prune .gitignore
