include CHANGES LICENSE AUTHORS README.rst
include carbon/files/schema.yml
include carbon/files/extensions.py
include carbon/provisioners/ext/bkr_client_plugin/schema.yml
include carbon/provisioners/ext/os_libcloud_plugin/schema.yml
exclude setup.cfg
prune docs/_build
prune docs/.ropeproject
prune docs/.gitignore
prune tests/.cache
prune extensions
prune .ropeproject
prune .git
prune .gitignore
