# carbon config file
# ==================

# the config file provides an additional way to define carbon parameters

# config file is searched for in the following order below. a configuration
# setting will be overrided if another source is found last
#   1. /etc/carbon/carbon.cfg (may require sudo access)
#   2. ./carbon.cfg (current working directory)
#   3. CARBON_SETTINGS (environment variable)

# default settings

[defaults]
log_level=debug
data_folder=/var/local/carbon
workspace=.
# endpoint of Cachet Status page with components:
# ci-rhos, zabbix-sysops, brew, covscan, polarion,
# rpmdiff, umb, errata, rdo-cloud, gerrit:<endpoint>
# <endpoint> is the actual component name in the
# Cachet status page.
dep_check_endpoint=<endpoint_ url_for_dependency_check>

# credentials settings

[credentials:beaker]
hub_url=<hub_url>
keytab=<keytab>
keytab_principal=<keytab_principal>
username=<username>
password=<password>

[credentials:openstack]
auth_url=<auth_url>
tenant_name=<tenant_name>
username=<username>
password=<password>

# orchestrator settings

[orchestrator:ansible]
# remove ansible log
log_remove=False
# set the verbosity
# this option will override the max verbosity when log level is set to debug.
verbosity=vv
