# action=cleanup
[environment:default]
OVESETUP_CORE/remove=bool:True
OVESETUP_REMOVE/confirmUninstallGroups=bool:True
OVESETUP_REMOVE/removeAll=bool:True
OVESETUP_CORE/engineStop=bool:True
OVESETUP_REMOVE/engineDatabase=bool:True
OVESETUP_REMOVE/removeEngine=bool:True

